* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  :root {
    --jacobs: #ffffff;
    --liuthian: #FEF0F2;
    --john: #1A1A1A;
    --pearl: #858585;
    --mino: #A3A3A3;
    --faint: #F8F8F6;
    --border: #DCE2EA;
    --peach: #F7F7F7;
  }
  section{
    height: 100vh;
  }
  .logo-area{
    border-bottom: 1px solid var(--border);
    padding: 5px 30px;
    margin-bottom: 30px;
  }
  .main-section{
    padding: 0px 30px 20px 30px;
    display: flex;
    flex-direction: row;
  }
  .dash-left{
    border: 1px solid var(--border);
    padding: 5rem 8rem 10rem 8rem;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }
  .company-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  .company-name h2{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
    color: var(--john);
  }
  .Ceo-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .Ceo-section h3{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: var(--pearl);
  }
  .Ceo-section p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--john);
  }
  .Cto-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .Cto-section h3{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: var(--pearl);
  }
  .Cto-section p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--john);
  }
  .summ{
    margin-top: 20px;
  }
  .dash-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--peach);
    padding: 3rem 2rem 2rem 2rem;
    margin-left: 20px;
    border-radius: 12px;
    height: 100%;
    width: 50%;
  }
  @media screen and (max-width: 1059px){
    .main-section{
      display: flex;
      flex-direction: column;
    }
    .dash-left{
      padding: 5rem 8rem 10rem 3rem;
    }
    .dash-right{
      padding: 3rem 2rem 2rem 2rem;
      margin-top: 20px;
      margin-left: 0px;
      border-radius: 12px;
      height: 100%;
      width: 100%;
    }
  }