i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    font-size: 1.2em;
  }
  
  i.fa-eye:before {
    content: "\f06e";
  }
  
  i.fa-eye-slash:before {
    content: "\f070";
  }